/**
 * layout.less
 * Major section layouts
 */

* {
  box-sizing: border-box;
}

// Basic containers
.content {
  width: $pageWidth;
  margin: auto;
}

// HAND CRAFTED GRID, MOTHER FUCKERS
// Now that is quality!
.row {
  margin-left: -$gridGutter;
  *zoom: 1;
}

.row:before, .row:after {
  display: table;
  content: "";
  // Fixes Opera/contenteditable bug:
  // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
  line-height: 0;
}

.row:after {
  clear: both;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: $gridGutter;
}
.span1 { width: ($columnWidth * 1) + ($gridGutter * 0); }
.span2 { width: ($columnWidth * 2) + ($gridGutter * 1); }
.span3 { width: ($columnWidth * 3) + ($gridGutter * 2); }
.span4 { width: ($columnWidth * 4) + ($gridGutter * 3); }
.span5 { width: ($columnWidth * 5) + ($gridGutter * 4); }
.span6 { width: ($columnWidth * 6) + ($gridGutter * 5); }
.offset1 { margin-left: ($columnWidth * 1) + ($gridGutter * 2); }
.offset2 { margin-left: ($columnWidth * 2) + ($gridGutter * 3); }
